* {margin: 0; padding: 0; 

}


html { background: rgb(40,40,40); }

.postContent { 
  font-size: 13px;
  letter-spacing: 0.025em;
  line-height: 2em;
}

.postContent img { max-width: 100%; }
.postContent iframe { max-width: 100%; }
.postContent a { text-decoration: none; color: #3dd7ab;}
.postContent a:hover { text-decoration: none; color: #5fe8ce;}
.postContent h1,h2,h3,h4 {   font-weight: 700; 
  color: #fff;
  letter-spacing: 0.025em; 
  line-height: 2em; 
}

h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 26px; }
h5 { font-size: 22px; }

.postContent table { width: 100%; }

.postContent pre { 

  color: rgb(225,225,225);
  padding: 0.25em 1em 0.25em 1em;
  margin: 0 0 3em 0;
  font-family: monospace;
  font-size: 11.7px;
  position: relative;
  left: -1em;
 }

.postContent blockquote,code { 
  background: rgb(20,20,20);
  border: 2px solid rgb(40,40,40);
  border-radius: 4px;
  color: rgb(225,225,225);
  padding: 0.25em 1em 0.25em 1em;
  margin: 0 0 3em 0;
  font-family: monospace;
  font-size: 11.7px;
  position: relative;
  left: -1em;
 }

.postContent p {
  margin: 0.5em 0 0 0;
  padding: 0;
}

.postContent blockquote p {
  margin-bottom: 0;
}




@media (max-width: 400px) {
  .container {
    width: 100%;
    padding: 10px; }
}

@media (max-width: 980px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

@font-face {
  font-family: 'orbitron';
  src: url('../webfonts/orbitron-black-webfont.eot'); /* IE9 Compat Modes */
  src: url('../webfonts/orbitron-black-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/orbitron-black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../webfonts/orbitron-black-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/orbitron-black-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'spartan';
    src: url('../webfonts/leaguespartan-bold.eot');
    src: url('../webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('../webfonts/leaguespartan-bold.woff') format('woff'),
         url('../webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('../webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothicRegular';
    src: url('../webfonts/leaguegothic-regular-webfont.eot');
    src: url('../webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../webfonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../webfonts/leaguegothic-regular-webfont.svg#league_spartanbold') format('svg');
}

@font-face {
    font-family: 'robotoBlack';
    src: url('../webfonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'robotoRegular';
    src: url('../webfonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'varela';
    src: url('../webfonts/VarelaRound-Regular.ttf') format('truetype');
}

.varela        { font-family: 'varela'}
.robotoBlack   { font-family: 'robotoBlack'; }
.robotoRegular { font-family: 'robotoRegular'; }
.orbitron      { font-family: 'orbitron', sans-serif; }
.spartan       { font-family: 'spartan', sans-serif; }
.gothicRegular { font-family: 'gothicRegular', sans-serif; letter-spacing: 0.025em;}

a { text-decoration: none; color: #fff;}
a:hover { text-decoration: none; color: #3dd7ab;}

.postbody h1 { text-transform: uppercase; font-size: 18px; color:#000;}

.dark { color: rgb(0,0,0); }
.white { color: #fff; }
.gray { color: rgb(170,170,170);}
.darkgray {color: rgb(125,125,125);}

.tiny {
  font-size:8px; 
}

.caps { text-transform: uppercase;}
.pad { padding: 20px 12px 25px 12px;}
.title { font-size: 18px;}
.logo { font-weight: 700; font-size: 27px; letter-spacing: 0.01em;}
.logo a { text-decoration: none; color: #fff;}

.graybg { background: rgb(40,40,40) }
.darkbg { background:rgb(30,30,30);  }
.darkerbg { background: #1e1e1e; }

.logodark { font-weight: 700; font-size: 27px; letter-spacing: 0.01em;}
.logodark a { text-decoration: none; color: #000;}

::selection {
  color: rgba(255, 255, 255, 1);
  background: rgba(61, 215, 171, 1);


a.menu {
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 10px;
	color: #ccc;
	line-height: 40px;
}

a.menu:hover{
	color: #fff;
}

a.menupost { color: rgb(150,150,150);}
a.menupost:hover { color: rgb(0,0,0);}