<!DOCTYPE html>
<html lang="en">

	<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>bitlab</title>
  <meta name="description" content="depost and withdraw bitcoin">
  <meta name="author" content="Rouan van der Ende">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/bitlab.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">

  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="/js/jquery.min.js"></script>	
	<script src="/js/socket.io.js"></script>

	<link rel="stylesheet" href="/js/styles/default.css">
	<script src="/js/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>	
	<script src="/js/marked.min.js"></script>
	<script src="/js/moment.min.js"></script>	
	<script src="/js/qrcode.js"></script>
	<script src="/js/blockchain.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <link rel="image_src" href="http://bitlab.io/images/profile.jpg" />
  <meta property="og:image" content="http://bitlab.io/images/profile.jpg" />


<script type="text/javascript">



var state = "idle"
var user = {}	
var wallet = {}
wallet.balance = "0.000"
wallet.txs = []

var keydown = function (k) {
	//console.log(k)
	if (k.keyCode == 27) {
		//ESCAPE
		$("#alias").html(user.alias); //UNDO alias change
	}
}


var makeQR = function() {
	var qrcode = new QRCode(document.getElementById("qrcode"), {
		width : 200,
		height : 200,
		correctLevel : QRCode.CorrectLevel.L
		//correctLevel : QRCode.CorrectLevel.L
	});

	function makeCode () {		
		var qrText = "bitcoin:";
		qrText+= user.walletaddress
		console.log(qrText);	


		
		qrcode.makeCode(qrText);

	}

	makeCode();
}

var bitcoinTX = function(data) {
	console.log("blockchain.info:")
	console.log(data)
	var unconfirmed = ''
	for (var i in data.x.inputs) {
		if (data.x.inputs[i].prev_out.addr == user.walletaddress ) {
			unconfirmed += "OUTGOING "+data.x.inputs[i].prev_out.value/100000000 +"<br>"
		}
	}

	for (var o in data.x.out) {
		if (data.x.out[o].addr == user.walletaddress) { 
			unconfirmed += "INCOMING "+data.x.out[o].value/100000000 +"<br>"
		}
	}
	unconfirmed += '<hr>'
	$("#transactionLogUnconfirmed").prepend(unconfirmed)
	//bitcoinUpdateBalance(user.walletaddress);
}

var bitcoinUpdateBalance = function(walletaddress) {
	console.log("updating balance")
	// DEPREC: https://blockchain.info/rawaddr/1EgsQ28DHSdrhHgK2ZJVYU4747nFBYxzab

	// http://localhost/api/blockr/address/balance/1EgsQ28DHSdrhHgK2ZJVYU4747nFBYxzab
	// http://localhost/api/blockr/address/txs/1EgsQ28DHSdrhHgK2ZJVYU4747nFBYxzab
	$.ajax({
	    url: '/api/blockr/address/balance/'+walletaddress, 
	    type: 'GET', 
	    contentType: 'application/json'}
	).done(function( addressdata ) {
		console.log("balance:")
		var parsed = JSON.parse(addressdata)
		console.log(parsed)
		wallet.balance = parsed.data.balance
		$("#balance").html( wallet.balance )
	});
}

var bitcoinUpdateTransactions = function(walletaddress) {
	console.log("updating transactions")
	// DEPREC: https://blockchain.info/rawaddr/1EgsQ28DHSdrhHgK2ZJVYU4747nFBYxzab

	// http://localhost/api/blockr/address/balance/1EgsQ28DHSdrhHgK2ZJVYU4747nFBYxzab
	// http://localhost/api/blockr/address/txs/1EgsQ28DHSdrhHgK2ZJVYU4747nFBYxzab
	$.ajax({
	    url: '/api/blockr/address/txs/'+walletaddress, 
	    type: 'GET', 
	    contentType: 'application/json'}
	).done(function( transactiondata ) {
		
		var parsed = JSON.parse(transactiondata)
		wallet.txs = parsed.data.txs
		console.log("transactions:")
		console.log(parsed)

		var alltxhtml = ``
		for (var t in wallet.txs) {

			
			
			
			alltxhtml += `<a href="https://blockchain.info/tx/`+wallet.txs[t].tx+`">`
			alltxhtml += moment(wallet.txs[t].time_utc).fromNow() + "_"; 
			alltxhtml += moment(wallet.txs[t].time_utc).format("D-MMM-YYYY_HH:mm:ss") +" ";
			if (parseFloat(wallet.txs[t].amount) > 0 ) { 
				alltxhtml += "RECIEVED "
			} else {
				alltxhtml += "WITHDRAWAL "
			}
			alltxhtml += "("+wallet.txs[t].confirmations+' confirmations) '
			alltxhtml += " AMOUNT: BTC"+wallet.txs[t].amount
			alltxhtml += "</a><br>"
		}
		$("#transactionLog").html(alltxhtml)


	});
}

var renderWallet = function() {
	$("#balance").html( wallet.balance )

/*
	var alltxhtml = ``
	for (var t in rawaddrdata.txs) {

		
		
		

		alltxhtml += moment(rawaddrdata.txs[t].time*1000).format("dddd, MMMM Do YYYY, h:mm:ss a") 
		
		for (var o in rawaddrdata.txs[t].out) {
			if (rawaddrdata.txs[t].out[o].addr == user.walletaddress) {
				alltxhtml += ' +'+(rawaddrdata.txs[t].out[o].value/100000000).toFixed(8)
			}
		 
		}

		alltxhtml += "<br>"
	}
	$("#transactionLog").html(alltxhtml)
	*/

}

$(document).ready( function () {
		$.ajax({
		    url: '/api/user', 
		    type: 'GET', 
		    contentType: 'application/json', 
		    data: JSON.stringify({}) }
		).done(function( userdata ) {
			user = userdata
			console.log(user)

			bitcoinUpdateBalance(user.walletaddress)
			bitcoinUpdateTransactions(user.walletaddress)

			blockchainListen(user.walletaddress, bitcoinTX);
			makeQR();
			render()
		});


		var render = function() {
			$("#alias").html(user.alias)
			$("#walletaddress").html(`<a href="https://blockchain.info/address/`+user.walletaddress+`">`+user.walletaddress+`</a>`)
			
		}

		//ALIAS
		var inputAlias = false;
		$("#changeAlias").click( function (ev) {

			if (inputAlias == true) {
						//ENTER
						inputAlias = false;
	  					console.log($("#inputAlias").val())

						$.ajax({
						    url: '/api/user', 
						    type: 'PUT', 
						    contentType: 'application/json', 
						    data: JSON.stringify({"alias": $("#inputAlias").val()}) }
						).done(function( serverResponse ) {
							console.log(serverResponse)
							user.alias = $("#inputAlias").val()
							render();
						});
			} else {
				$("#alias").html(`<input id="inputAlias" type="text" value="`+user.alias+`">`)
				inputAlias = true;
				$("#inputAlias").select();
						
				$("#inputAlias").keypress(function (e) {
					console.log(e)
	  				if (e.keyCode == 13) {
	  					//ENTER
	  					console.log($("#inputAlias").val())

						$.ajax({
						    url: '/api/user', 
						    type: 'PUT', 
						    contentType: 'application/json', 
						    data: JSON.stringify({"alias": $("#inputAlias").val()}) }
						).done(function( serverResponse ) {
							console.log(serverResponse)
							user.alias = $("#inputAlias").val()
							render();
						});

	  					//user.alias = $("#inputAlias").val();
	  					//$("#alias").html(user.alias)
	  				}
	  			});			
			}
			
	
		})





		var sendButtonStatus = "send";
		$("#sendbutton").css("background-color", "#6cac72")
		$("#sendbutton").css("color", "#ffffff")
		$("#sendbutton").html("SEND");	


		$("#sendbutton").click( function () {
			var btcsend = {}
			btcsend.destination = $("#sendaddress").val()
			btcsend.amount = $("#sendamount").val()
			console.log(btcsend)
			console.log("sendButtonStatus:"+sendButtonStatus)


			if (sendButtonStatus == "confirm") {
				

				$("#sendbutton").css("background-color", "#d14747")
				$("#sendbutton").html("SENDING...");	

				sendButtonStatus = "sending";
				$.ajax({
				    url: '/api/send', 
				    type: 'PUT', 
				    contentType: 'application/json', 
				    data: JSON.stringify(btcsend) }
				).done(function( sendResult ) {
					console.log(sendResult)
					$("#sendbutton").css("background-color", "#2eb8b8")
					$("#sendbutton").css("color", "#ffffff")
					$("#sendbutton").html("SENT!"); 
				});
			}

			if (sendButtonStatus == "send") {



			    // fees:
			    // 0.000050   ECONOMIC
			    // 0.000150   NORMAL
			    // 0.000500   PRIORITY
			    var fee = 0.0001 
			    console.log(btcsend)
			    console.log(wallet.balance)
				$("#sendbutton").css("background-color", "#d14747")
				$("#sendbutton").css("color", "#ffffff")
				$("#sendbutton").html("CONFIRM?");
				sendButtonStatus = "confirm";	


			}



		})

		var amountError = function() {
			$("#sendamount").focus();
		}		

		$("#sendbutton").hover( function () {}, function() {
			if (sendButtonStatus == "confirm") {
				sendButtonStatus = "send";
				
				$("#sendbutton").css("background-color", "#6cac72")
				$("#sendbutton").css("color", "#ffffff")
				$("#sendbutton").html("SEND");	
			}
			
		})




	document.addEventListener( 'keydown', keydown );

})



</script>

<style>

#inputAlias { color: rgb(61,215,171); }

#findOutButton {
	transition: color 0.1s linear;
	transition: background 0.15s linear;
}

.serviceBlock {
	border-top: 2px solid #1e1e1e;
	background-color: #1e1e1e;
	transition: background-color 2s linear;
	transition: border-top 2s linear;
	
}

.spot { color: #3dd7ab; }
.topborder {border-top: 1px dashed #444;}
.bottomborder {border-bottom: 1px dashed #444;}

hr { 
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(50, 50, 50, 0.75), rgba(0, 0, 0, 0));
}

#closeButtonInfo { color: rgb(100,100,100); cursor: pointer; }
#closeButtonInfo:hover { color: rgb(255,100,100); }

.link {  cursor: pointer;}
.link:hover { color: #fff; }

#sendbutton {
	border: none;
	background: rgb(61,215,171);
}

.sendconfirm {
	background-color: #d14747;
	color: #ffffff;
}

*::-webkit-input-placeholder {
    color: rgb(230,230,230);
}

</style>

</head>

<body class="varela">
	
<div id="topbanner" style="width:100%; max-width: 100%;">
<div id="topbannerContent" >
<div class="container" >

<div class="row" style="color: #fff; padding-top: 40px; padding-left: 12px;" >
	<div class="orbitron" style="color:rgb(255,255,255); letter-spacing: 0.025em; font-size: 22px; position:relative; top: -5px;" >
		bitlab
	</div>
</div>

	<div class="row" style="margin-bottom:20px; margin-top: 20px; " >
		<div class="twelve columns" >
				<div class="varela" style="color: rgb(200,200,200); letter-spacing: 0.025em; background-color: #1e1e1e; font-size: 13px; line-height: 2em; " >
					
					<div style="padding: 24px;">
						<div>ALIAS: <span id="alias" class="white varela"></span> <span id="changeAlias" class="link tiny gray">change</span></div>
						<div>BTC: <span id="balance" class="white varela"></span></div>
						<div>DEPOSIT ADDRESS: <span id="walletaddress" class="white"></span></div>
						<div id="qrcode" style="width:200px; height:200px; padding: 5px; margin-top:0px; background: #fff;"></div>
						
					</div>

				</div>
		</div>

		<div class="twelve columns" >
			<div class="varela" style="color: rgb(100,100,100); letter-spacing: 0.025em; background-color: rgb(235,235,235); font-size: 13px; line-height: 2em; padding: 18px 24px 12px 24px;margin: 0;" >
				<div style="width: 100%;">
						<div style="padding-right: 12px;">SEND BITCOIN FROM ACCOUNT TO:</div>
						<div style="padding-right: 12px;">Please note a transaction fee of 0.0001 BTC will be added.</div>
						<div>
							<input id="sendaddress" type="text" placeholder="1Ex4mP1eD3st1N4T10NAdDr3s5..." style="width: 310px;">
							<input id="sendamount" type="text" placeholder="0.00000000" style="width: 120px;text-align: right;">
							<button id="sendbutton" style="width: 150px; text-align: center;">NEXT</button>
						</div>
						
						<div id="sendMessages" style="padding-right: 12px;">...</div>
				</div>
			</div>
		</div>


		<div class="twelve columns" >
			<div class="varela" style="color: rgb(200,200,200); letter-spacing: 0.025em; background-color: #1e1e1e; font-size: 13px; line-height: 2em; padding: 24px;" >
				
				<div>TRANSACTION UNCONFIRMED:</div>
				<div id="transactionLogUnconfirmed"></div>

				<div>TRANSACTION HISTORY:</div>
				<div id="transactionLog"></div>

			</div>
		</div>

	</div>

		</div>
	</div>
</div>
  
	


</body>


</html>